.Toolbar{
	height: 56px;
	width: 100%;
	position: fixed;
	background:#4B79A1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	left: 0;
	padding: 0 20px;
	box-sizing: border-box;
	z-index: 90;
}

.Toolbar nav{
	height: 100%;
}

.Logo{
	height: 80%;
}

@media(max-width: 500px){
	.DeskTop{
		display: none
	}
}