.NavigationItem {
	margin: 10px 0 ;
	box-sizing: border-box;
	display: block;
	width: 100%;
}	

.NavigationItem a{
	color: #40a4c8;
	text-decoration: none;
	width: 100%;
	display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
	color: #2F80ED;
}

@media(min-width:500px){
	.NavigationItem {
		margin: 2px;
		display: flex;
		height: 100%;
		width:auto;
		align-items: center;
	}	

	.NavigationItem a{
		color: white;
		width: 95%;
		padding: 16px 20px;
		border-bottom: 4px solid transparent;
		
	}

	.NavigationItem a:hover,
	.NavigationItem a:active,
	.NavigationItem a.active{
		background: #2F80ED;
		border-bottom: 4px solid #40a4c8;
		color: white;
	}
}